#b_03 {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: default;
    display: block;
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 1296px;
    z-index: 1;
}

#b_03 div {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#b_03 img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0;
    margin: 0;
}

#el_03 {
    top: 0px;
    left: 0px;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: normal;
}

#img_03 {
    width: 1296px;
    height: 350px;
}

#img_03.bnfy-enter {
    -webkit-animation: undefined 0ms 0ms ease 1 both;
    animation: undefined 0ms 0ms ease 1 both;
}

#el_1831 {
    top: 0px;
    left: 0px;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: normal;
}

#img_1831 {
    width: 1296px;
    height: 350px;
}

#img_1831.bnfy-enter {
    -webkit-animation: fade-in 1000ms 0ms ease 1 both;
    animation: fade-in 1000ms 0ms ease 1 both;
}

#el_1841 {
    top: 96px;
    left: 653px;
    z-index: 3;
    pointer-events: none;
    mix-blend-mode: normal;
}

#img_1841 {
    width: 371px;
    height: 102px;
}

#img_1841.bnfy-enter {
    -webkit-animation: fade-in-left 1000ms 1500ms ease 1 both;
    animation: fade-in-left 1000ms 1500ms ease 1 both;
}

#el_1842 {
    top: 213px;
    left: 694px;
    z-index: 4;
    pointer-events: none;
    mix-blend-mode: normal;
}

#img_1842 {
    width: 285px;
    height: 43px;
}

#img_1842.bnfy-enter {
    -webkit-animation: fade-in-left 1000ms 1500ms ease 1 both;
    animation: fade-in-left 1000ms 1500ms ease 1 both;
}

#el_1846 {
    top: 0px;
    left: 981px;
    z-index: 5;
    pointer-events: none;
    mix-blend-mode: normal;
}

#img_1846 {
    width: 288px;
    height: 144px;
}

#img_1846.bnfy-enter {
    -webkit-animation: slide-in-top 2000ms 0ms ease 1 both;
    animation: slide-in-top 2000ms 0ms ease 1 both;
}

#el_1843 {
    top: 0px;
    left: 981px;
    z-index: 6;
    pointer-events: none;
    mix-blend-mode: darken;
}

#img_1843 {
    width: 287px;
    height: 144px;
}

#img_1843.bnfy-enter {
    -webkit-animation: fade-in 1500ms 2000ms ease 1 both;
    animation: fade-in 1500ms 2000ms ease 1 both;
}

#el_1848 {
    top: 206px;
    left: 982px;
    z-index: 7;
    pointer-events: none;
    mix-blend-mode: normal;
}

#img_1848 {
    width: 287px;
    height: 144px;
}

#img_1848.bnfy-enter {
    -webkit-animation: slide-in-bottom 2000ms 0ms ease 1 both;
    animation: slide-in-bottom 2000ms 0ms ease 1 both;
}

#el_1845 {
    top: 206px;
    left: 982px;
    z-index: 8;
    pointer-events: none;
    mix-blend-mode: darken;
}

#img_1845 {
    width: 287px;
    height: 144px;
}

#img_1845.bnfy-enter {
    -webkit-animation: fade-in 1500ms 2000ms ease 1 both;
    animation: fade-in 1500ms 2000ms ease 1 both;
}

#el_1847 {
    top: 31px;
    left: 1145px;
    z-index: 9;
    pointer-events: none;
    mix-blend-mode: normal;
}

#img_1847 {
    width: 151px;
    height: 287px;
}

#img_1847.bnfy-enter {
    -webkit-animation: slide-in-right 2000ms 0ms ease 1 both;
    animation: slide-in-right 2000ms 0ms ease 1 both;
}

#el_1844 {
    top: 31px;
    left: 1145px;
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: darken;
}

#img_1844 {
    width: 151px;
    height: 287px;
}

#img_1844.bnfy-enter {
    -webkit-animation: fade-in 1500ms 2100ms ease 1 both;
    animation: fade-in 1500ms 2100ms ease 1 both;
}