.banner-container{
  background-color: #fafbfe;
  height: 180px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.banner-container-animation {
  height: 125px;
  width: 100%;
}

.banner-container > .body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}
.banner-container > .body > .content {
  max-width: 50%;
}

.banner-container > .left {
  justify-content: left;
}
.banner-container > .center {
  justify-content: center;
}
.banner-container > .right {
  justify-content: right;
}
 
@media (min-width: 576px) {
  .banner-container { height: 180px; }
  .banner-container-animation { height: 180px; }
}
@media (min-width: 768px) {
  .banner-container { height: 188px; }
  .banner-container-animation { height: 188px; }
}
@media (min-width: 992px) {
  .banner-container { height: 252px; }
  .banner-container-animation { height: 252px; }
}
@media (min-width: 1200px) {
  .banner-container { height: 300px; }
  .banner-container-animation { height: 300px; }
}
@media (min-width: 1400px) {
  .banner-container { height: 350px; }
  .banner-container-animation { height: 350px; }
}