.card-icon-container{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 255px;
    border-radius: 0.5rem;
    padding: 10%;
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
}
.card-icon-container > .body{
    width: 100% !important;
}
.card-icon-container > .body > .icon {
    height: 140px;
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.card-icon-container > .body > .text {
    font-size: 1rem;
    font-family: 'Oxanium'; 
    text-align: center;
    color: $secondary;
}

@media (min-width: 576px) {    
}
.card-icon-container > .body > .text { font-size: 1rem; }
@media (min-width: 768px) {
    .card-icon-container{ height: 156px; }
    .card-icon-container > .body > .icon { height: 80px; }
    .card-icon-container > .body > .text { font-size: 0.595rem; }
}
@media (min-width: 992px) {
    .card-icon-container{ height: 216px; }
    .card-icon-container > .body > .icon { height: 120px; }
    .card-icon-container > .body > .text { font-size: 0.825rem; }
}
@media (min-width: 1200px) {
    .card-icon-container{ height: 260px; }
    .card-icon-container > .body > .icon { height: 140px; }
    .card-icon-container > .body > .text { font-size: 1rem; }
}
@media (min-width: 1400px) {
    .card-icon-container{ height: 300px; }
    .card-icon-container > .body > .icon { height: 160px; }
    .card-icon-container > .body > .text { font-size: 1.1rem; }
}