{% extends 'email/emailBase.html.twig' %}

{% block content %}
    <row>
        <columns>
            <spacer size="20"></spacer>
            <p class="text-center fs-6"><strong>HOLA</strong></p>
            <p class="text-center">Gracias por tu consulta!!</p>
        </columns>
    </row>
    <row>
        <columns >
            <p class="text-center">Nos comunicaremos a la brevedad a tus datos de contacto.</p>
        </columns>
    </row>
{% endblock %}